textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button, input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s ease;
}

button:hover, input[type="submit"]:hover {
  background-color: #0056b3;
}

blockquote {
  background-color: rgba(0,0,0,0.1);
  padding: 15px;
  border-radius: 4px;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #FFF;
  color: #000000;
}

b, strong {
  font-weight: bold;
}

h1 {
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
  line-height: 1.5rem;
}

.blog-meta {
  justify-content: space-between;
  color: #555;
  font-size: medium;
}

.blog-meta .author,
.blog-meta .date {
  margin-right: 15px;
  
}

.blog-meta .author i,
.blog-meta .date i {
  margin-right: 5px;
  color: #777;
}

.blog-meta .author {
  font-weight: bold;
}

.blog-meta .date {
  font-style: italic;
}

.title{
  font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    color: #000000;
}
.content{
  font-size: 15px;
    line-height: 1.6;
    color: #051922;
}

.tags .tag-container {
  display: flex; /* Utilisation de flexbox pour disposer les tags */
  flex-wrap: wrap; /* Permet aux tags de passer à la ligne lorsque l'espace est insuffisant */
}

.tag-item {
  background-color: #d9d8db; /* Couleur de fond de chaque tag */
  color: #333; /* Couleur du texte */
  border-radius: 20px; /* Coins arrondis des tags */
  padding: 5px 10px; /* Espacement interne des tags */
  margin-right: 10px; /* Espacement entre les tags */
  margin-bottom: 10px; /* Espacement en bas des tags */
}

.tag-item a.tagli {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red; /* Couleur de l'icône */
  margin-left: 5px; /* Espacement entre le tag et l'icône */
}

.cadre {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

