.stack-index {
    display: block !important;
    min-height: 85vh;
    min-width:  fit-content;
    
}
body, html {
   height: 100%;
   margin: 0;
 }
.stack-index-content {
    display:flex;
    width: 100%;
    justify-content: center;
    margin-left: -25px;
    margin-right: -25px;
   }

/* sidebar.js file css */
.sidebar{
   
    display:flex;
    padding: 20px 0px 10px 10px;
    height: 100%;
    flex: 0.5;
    max-width: 280px;
    height: 100%;
    border-right: 1px solid #ddd;
}

.sidebar-container{
   
   display: flex;
  height: 100%;
}
.sidebar-options {
   
   display: flex;
    flex-direction: column;
    width: 200px;
}
.sidebar-option {
   
    display: flex;
     flex-direction: column;
     margin: 10px 0;
     font-size: 14px;
 }

 a{
    text-decoration: none;
    color: #000;
 }

 a:hover {
    color:#000;
 }

 .sidebar-option >p {
    color:#000;
    font-size: 14px;
    font-family: inherit;
    
 }

 .link{
    display: flex;
    flex-direction: column;
 }

 .link-tag{
    display: flex;
     align-content: center;
    padding: 5px 0;
    width: 100%
 }

 .link-tag:hover{
    border-right: 5px solid #cc042b;
 }

 .link-tag > .MuiSvgIcon-root{
    font-size: 18px;
    margin-right: 5px;
    color: #cc042b;
 }

 .tags{
    display: flex;
    flex-direction: column;
    color:#000;
    margin: 0px 20px;
 }
 .tags>p{

    margin: 5px 0;
 }
 .tags > p:hover{
    color: #000;
 }